# Backup files
*~
*.rej

# Distribution / packaging
env/
build/
/node_modules
var/
/README.md

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# dotenv
.env

# Emacs editor settings
/.dir-locals.el

# From Lit project template:
/node_modules/
/lib/
